/* teal.reporter custom css */

.overflow-auto {
  overflow: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.-ml-1 {
  margin-left: -0.25rem;
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.-my-3 {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-1 {
  padding: 0.25rem;
}

/* dynamic labels after icons */

.simple_reporter_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.simple_report_button {
  min-width: 55px;
  margin: 1px 1px;
}

button.disabled {
  color: grey;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
}
