/* teal.reporter custom css */

.overflow-auto {
  overflow: auto;
}

.block {
  display: block;
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.-my-3 {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-1 {
  padding: 0.25rem;
}

/* dynamic labels before icons */

.reset_report--hover:hover .reset_report--before::before {
  content: 'Reset';
}

.add_card--hover:hover .add_card--before::before {
  content: 'Add Card';
}

.download_report--hover:hover .download_report--before::before {
  content: 'Download';
}
