/* teal.reporter Previewer css */

/* highlight the icon when hover */
span.preview_card_control  i:hover {
  color: blue;
}

.previewer_well_internal {
  background-color: #a9a9a94d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.previewer_buttons_line {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

/* Disable any anchor with disabled class */
a.disabled {
  color: grey;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
}

/* icons in the previewer */
.icon_previewer {
  float:right;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  color:#337ab7;
}
