// success and danger paragraphs

.p--state-danger {
  color: red;
}

.p--state-success {
  color: green;
}

// dynamic labels before icons

.reset--hover:hover .reset--before::before {
  content: 'Reset';
}

.add--hover:hover .add--before::before {
  content: 'Add Card';
}

.download--hover:hover .download--before::before {
  content: 'Download';
}
